# Java
*.class
*.jar
*.war
target/
!.mvn/wrapper/maven-wrapper.jar

#frontend
/gateway-admin-ui/node_modules/

out/
# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Env
.env

docs/
*.md
!README.md

/load-test/README.md

/.run/AdminApplication.run.xml
*.csv